@charset "utf-8";

html {
    overflow-y: scroll;
}

body {
    text-align: center;
    background-color: #eeeeee;
    font-family: メイリオ;
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    text-decoration: underline;
}

.menu {
    width: 100px;
    position: fixed;
    left: 30px;
    top: 30px;
    border: #000000 1px solid;
}

.selectedmenu {
    width: 98px;
    background-color: #6495ed;
    color: #ffffff;
    border: #000000 1px solid;
}

.notselectedmenu {
    width: 98px;
    background-color: #ffffff;
    color: #000000;
    border: #000000 1px solid;
}

.main {
    background-color: #ffffff;
    border: #000000 solid 2px;
    margin: 30px auto;
    padding: 50px;
    width: 60%;
    overflow-x: scroll;
}

button {
    width: 300px;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: #ff9900;
    color: #ffffff;
    text-decoration: dotted;
    border: #000000 solid 2px;
}

button:hover {
    background-color: #ffae35;
    outline: 0;
}

button:active {
    background-color: #dddddd;
    outline: 0;
}

@media screen and (max-width:480px) {
    body {
        text-align: left;
        background-color: #eeeeee;
        font-family: メイリオ;
    }
    
    a {
        text-decoration: none;
        color: #000000;
    }
    
    a:hover {
        text-decoration: underline;
    }
    
    .menu {
        overflow-x: scroll;
        width: 90%;
        margin: 0 auto;
        margin-top: 30px;
        border: #000000 1px solid;
        display: flex;
        position: static;
        box-sizing: border-box;
        text-align: center;
    }
    
    .selectedmenu {
        width: 100px;
        background-color: #6495ed;
        color: #ffffff;
        border: #000000 1px solid;
    }
    
    .notselectedmenu {
        width: 100px;
        background-color: #ffffff;
        color: #000000;
        border: #000000 1px solid;
    }
    
    .main {
        background-color: #ffffff;
        border: #000000 solid 2px;
        margin: 0 auto;
        margin-top: 30px;
        padding: 20px;
        width: 90%;
        box-sizing: border-box;
    }
    
    button {
        width: 200px;
        padding: 10px 15px;
        font-size: 16px;
        border-radius: 3px;
        box-sizing: border-box;
        background-color: #ff9900;
        color: #ffffff;
        text-decoration: dotted;
        border: #000000 solid 2px;
    }
    
    button:active {
        background-color: #ffae35;
        outline: 0;
    }
}
